.fretboard {
  padding: 0;
  margin: 0;
  border-bottom: 3px solid gray;
}

.fret {
  background: burlywood;
  border-top: 3px solid gray;
  height: 3rem;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

.finger {
  position: absolute;
  z-index: 100;
  width: 20px;
  height: 20px;
  background: lightgray;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px;
  text-align: center;
  padding: 0;
  line-height: 1;
  border-radius: 20px;
  font-weight: bold;
  border: 1px solid #333;
}

.dot {
  position: absolute;
  //z-index: 100;
  width: 10px;
  height: 10px;
  background: #333;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
  text-align: center;
  padding: 0;
  line-height: 1;
  border-radius: 10px;
  font-weight: bold;
  border: 1px solid #333;
}

.dot.up {
  left: 13%;
}

.dot.down {
  left: 87%;
}

.stringline {
  position: absolute;
  height: 3rem;
  background: dimgray;
  top: 0;
  //z-index: 1;
  margin: 0;
  padding: 0;
}

.E {
  left: 2%;
}

.a {
  left: 21.2%;
}

.d {
  left: 40.4%;
}

.g {
  left: 59.6%;
}

.b {
  left: 78.8%;
}

.e {
  left: 98%;
}


.stringline.E {
  width: 4px;
}

.stringline.a {
  width: 3px;
}

.stringline.d {
  width: 3px;
}

.stringline.g {
  width: 2px;
}

.stringline.b {
  width: 2px;
}

.stringline.e {
  width: 1px;
}


