<div class="container">
  <h2>C Octave shapes</h2>
  <div class="row">
    <div class="col-md-2">
      <app-fretboard [shape]="getOctaveShape('C_1')"></app-fretboard>
    </div>
    <div class="col-md-2">
      <app-fretboard [shape]="getOctaveShape('C_2')"></app-fretboard>
    </div>
    <div class="col-md-2">
      <app-fretboard [shape]="getOctaveShape('C_3')"></app-fretboard>
    </div>
    <div class="col-md-2">
      <app-fretboard [shape]="getOctaveShape('C_4')"></app-fretboard>
    </div>
    <div class="col-md-2">
      <app-fretboard [shape]="getOctaveShape('C_5')"></app-fretboard>
    </div>
  </div>
  <h2>D Octave shapes</h2>
  <div class="row">
    <div class="col-md-2">
      <app-fretboard [shape]="getOctaveShape('D_1')"></app-fretboard>
    </div>
    <div class="col-md-2">
      <app-fretboard [shape]="getOctaveShape('D_2')"></app-fretboard>
    </div>
    <div class="col-md-2">
      <app-fretboard [shape]="getOctaveShape('D_3')"></app-fretboard>
    </div>
    <div class="col-md-2">
      <app-fretboard [shape]="getOctaveShape('D_4')"></app-fretboard>
    </div>
    <div class="col-md-2">
      <app-fretboard [shape]="getOctaveShape('D_5')"></app-fretboard>
    </div>
  </div>
</div>
