<div class="container">
  <div class="row">
    <div class="col-md-2">
      <ul class="nav flex-column left-menu">
        <li class="nav-item">
          <a routerLink="/practice" routerLinkActive="active" class="nav-link">Practice</a>
        </li>
        <li class="nav-item">
          <a routerLink="/octaveShapes" routerLinkActive="active" class="nav-link">Octave shapes</a>
        </li>
        <li class="nav-item">
          <a routerLink="/chords" routerLinkActive="active" class="nav-link">Chords</a>
        </li>
        <li class="nav-item">
          <a routerLink="/arpeggios" routerLinkActive="active" class="nav-link">Arpeggios</a>
        </li>
        <li class="nav-item">
          <a routerLink="/pentatonics" routerLinkActive="active" class="nav-link">Pentatonics</a>
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
