.left-menu {
  border-right: 3px solid whitesmoke;
}

li.nav-item {
  border-bottom: 1px solid whitesmoke;
}

li.nav-item:hover {
  background: whitesmoke;
}

li.nav-item .active {
  background: lightgray;
}
