<div class="container">
  <h2>C major pentatonics</h2>
  <div class="row">
    <div class="col-md-2">
      <app-fretboard [shape]="getPentatonic('C_maj_1')"></app-fretboard>
    </div>
    <div class="col-md-2">
      <app-fretboard [shape]="getPentatonic('C_maj_2')"></app-fretboard>
    </div>
    <div class="col-md-2">
      <app-fretboard [shape]="getPentatonic('C_maj_3')"></app-fretboard>
    </div>
    <div class="col-md-2">
      <app-fretboard [shape]="getPentatonic('C_maj_4')"></app-fretboard>
    </div>
    <div class="col-md-2">
      <app-fretboard [shape]="getPentatonic('C_maj_5')"></app-fretboard>
    </div>
  </div>
  <h2>C major Chords shapes</h2>
  <div class="row">
    <div class="col-md-2">
      <app-fretboard [shape]="getChord('C_maj_1')"></app-fretboard>
    </div>
    <div class="col-md-2">
      <app-fretboard [shape]="getChord('C_maj_2')"></app-fretboard>
    </div>
    <div class="col-md-2">
      <app-fretboard [shape]="getChord('C_maj_3')"></app-fretboard>
    </div>
    <div class="col-md-2">
      <app-fretboard [shape]="getChord('C_maj_4')"></app-fretboard>
    </div>
    <div class="col-md-2">
      <app-fretboard [shape]="getChord('C_maj_5')"></app-fretboard>
    </div>
  </div>
  <h2>C minor Chords shapes</h2>
  <div class="row">
    <div class="col-md-2">
      <app-fretboard [shape]="getChord('C_min_1')"></app-fretboard>
    </div>
    <div class="col-md-2">
      <app-fretboard [shape]="getChord('C_min_2')"></app-fretboard>
    </div>
    <div class="col-md-2">
      <app-fretboard [shape]="getChord('C_min_3')"></app-fretboard>
    </div>
    <div class="col-md-2">
      <app-fretboard [shape]="getChord('C_min_4')"></app-fretboard>
    </div>
    <div class="col-md-2">
      <app-fretboard [shape]="getChord('C_min_5')"></app-fretboard>
    </div>
  </div>
  <h2>C Octave shapes</h2>
  <div class="row">
    <div class="col-md-2">
      <app-fretboard [shape]="getOctaveShape('C_1')"></app-fretboard>
    </div>
    <div class="col-md-2">
      <app-fretboard [shape]="getOctaveShape('C_2')"></app-fretboard>
    </div>
    <div class="col-md-2">
      <app-fretboard [shape]="getOctaveShape('C_3')"></app-fretboard>
    </div>
    <div class="col-md-2">
      <app-fretboard [shape]="getOctaveShape('C_4')"></app-fretboard>
    </div>
    <div class="col-md-2">
      <app-fretboard [shape]="getOctaveShape('C_5')"></app-fretboard>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <app-fretboard [shape]="{frets: 22, base: 0, fingers: []}"></app-fretboard>
    </div>
  </div>
</div>
